# Backend API URL (assigned by run_app_frontend.sh)
REACT_APP_API_URL=https://api-qa.real-tor.com
#
# Backend API URL for each stage/environment
APP_API_URL_DEV=https://api-dev.real-tor.com
APP_API_URL_QA=https://api-qa.real-tor.com
APP_API_URL_STAGING=https://api-staging.real-tor.com
APP_API_URL_PROD=https://api.real-tor.com
APP_API_URL_DEMO=https://api-demo.real-tor.com
#
# Frontend URL (assigned by change_env_be_endpoint.sh)
APP_FE_URL=app-qa.real-tor.com
# Frontend URL for each stage/environment (used by aws_deploy_to_s3.sh)
APP_FE_URL_DEV=app-dev.real-tor.com
APP_FE_URL_QA=app-qa.real-tor.com
APP_FE_URL_STAGING=app-staging.real-tor.com
APP_FE_URL_PROD=app.real-tor.com
APP_FE_URL_DEMO=app-demo.real-tor.com
#
# App debug flag
REACT_APP_DEBUG=1
# App URI prefix
REACT_APP_URI_PREFIX=real-tor_frontend
# Use 'x-access-tokens' instead of 'Authorization: Bearer'
# REACT_APP_X_TOKEN=1
#
# App name
REACT_APP_APP_NAME=real-tor
#
# Local domain name (used in the CNAME file of local DNS)
APP_LOCAL_DOMAIN_NAME=app.real-tor.local
# APP_LOCAL_DOMAIN_NAME=localhost
#
# Local frontend API port (used by server.js, webpack.config.js, and config-overrides.js)
FRONTEND_LOCAL_PORT=3000
#
# Local backend API port (used by run_app_backend.sh)
BACKEND_LOCAL_PORT=5001
#
# Local development environment running method
# https or http
# RUN_METHOD="webpack"
# https or http (with better error reporting)
# RUN_METHOD="react-scripts"
RUN_METHOD="webpack"
#
# Backend path (used by create_ssl_certs.sh)
BACKEND_PATH=../real-tor_backend
#
# Config JSON files submodule configuration (used by add_github_submodules.sh)
GIT_SUBMODULE_LOCAL_PATH=src/configs
GIT_SUBMODULE_URL=git://github.com/tomkat-cr/real-tor.git
#
# AWS S3 bucket name for App frontend hosting (assigned by change_env_be_endpoint.sh)
AWS_S3_BUCKET_NAME=real-tor-frontend-website-qa
#
# AWS configuration (used by aws_deploy_to_s3.sh and change_env_be_endpoint.sh)
AWS_S3_BUCKET_NAME_DEV=real-tor-frontend-website-dev
AWS_S3_BUCKET_NAME_QA=real-tor-frontend-website-qa
AWS_S3_BUCKET_NAME_STAGING=real-tor-frontend-website-staging
AWS_S3_BUCKET_NAME_PROD=real-tor-frontend-website-prod
AWS_S3_BUCKET_NAME_DEMO=real-tor-frontend-website-demo
#
AWS_REGION=us-east-1
#
AWS_SSL_CERTIFICATE_ARN=aws_ssl_certificate_arn
#
# IBM watsonx
IBM_WATSONX_INTEGRATION_ID=ibm_watson_integration_id
IBM_WATSONX_REGION=ibm_watson_region
IBM_WATSONX_SERVICE_INSTANCE_ID=ibm_watson_service_instance_id
